h1,
h2,
h3,
h4,
p { margin-top: 0; margin-bottom: 0;}

ul,
ol {
margin-top: 0;
margin-bottom: 0;
padding-left: 0;}

img {display: block;}

.list {list-style: none;}

.link {text-decoration: none;}

.button {cursor: pointer;}

.container{
    padding-left: 16px;
    padding-right: 16px;
}

@media screen and (min-width: 428px) {
    .container{
        width: 396px;
        margin-left: auto;
        margin-right: auto;
    }
    
}

/*Header*/

.page-header-container{
    display: flex;
    justify-content: space-between;
}

.mobile-menu-open-btn-icon{
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-linejoin: round;
    color: rgba(46, 47, 66, 1);
}

.menu{
    display: none;
}
.header-contact-list{
    display: none;
}