:root {
    --previous-color-text: #2E2F42;
    --secondary-color-text: #434455;
    --third-color-text: #FFFFFF;
    --footer-text-color: #F4F4FD;
    --button-color-text: #4D5AE5;
    --button-color-bg: #F4F4FD;
    --main-background-color: #FFFFFF;
    --hero-background-color: #2E2F42;
    --main-but-pf-border: #e7e9fc;
    --menu-contact-link-color: #404BBF;
    --color-lable-modal: #8e8f99;
    --transition-duration-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --contact-form-text-main-color: #2E2F42;
    --contact-form-checkbox-wrapper-color: #8e8f99;
    --contact-form-btn-color: #ffffff;
    --contact-form-btn-background: #4D5AE5;
    --main-but-pf-color: #FFFFFF;
    --main-but-pf-background-color: #404BBF;
    --button-subscribe-color: #FFFFFF;
    --button-subscribe-color-background: #4D5AE5;

}
h1,h2,h3,h4,p { margin-top: 0; margin-bottom: 0;}

ul,ol {
margin-top: 0;
margin-bottom: 0;
padding-left: 0;}

img {display: block;}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--secondary-color-text);
    background-color: var(--main-background-color);
}

.list {list-style: none;}

.link {text-decoration: none;}

.button {cursor: pointer;}


/* СТИЛІ ЗАГАЛЬНІ */
.container{
    margin-left: auto;
    margin-right: auto;
    
}
/*Social-icon*/
.social-list-link-team:hover,
.social-list-link-team:focus {
    background-color: #404BBF;
}

.social-list-item {
    width: 40px;
    height: 40px;
}

.social-list-team {
    margin-top: 8px;
}

.social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-our-team{padding-bottom: 96px;}

.icons-social {fill: #F4F4FD;}

/*Header*/

.page-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    color: #404bbf;
    text-transform: uppercase;
}

.logo-st { color: #2E2F42;}

.button-hero {
    display: block;
    min-width: 169px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus {
    background-color: #404BBF;
}
 /*Our-Team*/

.text-main-team{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    color: var(--previous-color-text);}

    .team-list-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--main-background-color);}


    .main-team {background: #F4F4FD;}

    .text-main-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    color: var(--previous-color-text);
    }

    .text-main-our-team{
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    }

    .text-minor-our-team{
    margin-top: 8px;
    font-family: 'Roboto' , sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
    }

    /*Customers Клієнти*/

    .customers-main{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto' , sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    margin-bottom: 72px;
    color: var(--previous-color-text);}

    .customers-list {display: flex;}

    .customers-item{height: 88px;}

    .customers-id {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(142, 143, 153);
    border-radius: 4px;
    color: rgb(142, 143, 153);
    height: 100%;
    width: 100%;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

    .customers-bt{display: flex;}


   /* Footer */

   .logo-footer {color: #F4F4FD;}

   .footer-container {background: #2E2F42;}

   .text-footer {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 17.5px;
    color: var(--footer-text-color); }

    .footer-icon-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: var(--third-color-text);}

    .form-subscribe-input {display: flex;}

    .contact-form-footer-input {
    padding: 16px;
    border: 1px solid #FFFFFF;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba0, 0.15));
    border-radius: 4px;
    background-color: rgb(46, 47, 66);
    color: #FFFFFF;
    background-color: transparent;}

    /* Footer-Button */

    .button-subscribe {
    font-weight: 500;
    line-height: 1.5;
    width: 165px;
    height: 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: var(--button-subscribe-color);
    background-color: var(--button-subscribe-color-background);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

      




/*Backdrop*/

    /*.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(46, 47, 66, 0.4);}

    .backdrop.is-hidden .modal-window {
    transform: translate(-50%, -50%) scale(1.5);}*/






    
   /* Стилі мобілка */

@media screen and (max-width: 767px) {
    /*загальні*/
    .container {max-width: 428px;}
    /*header*/
    .menu {display: none;} 

    .header-contact-list {display: none;}

    /*Hero*/
    .mobile-text-hero{
    padding-top: 112px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;}

    .mobile-hero{height: 432px; background: rgba(46, 47, 66, 0.7);}
    .button-hero{margin-top: 72px; }

    /*Button-Gamburger-Mobile-Menu*/

    .mobile-menu-open-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;}
    
    .mobile-menu-open-btn-icon {
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: black;}
    
    .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rg(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;}
    
    .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;}

    .mobile-menu-container {
    position: relative;
    padding-top: 80px;
    padding-left: 24px;}

    .menu-mobile-close-icon {
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}

    .mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 50%;
    background: #E7E9FC;
    opacity: 0.1;
    border: 1px solid #2E2F42;}


    .mobile-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;}
    
    .mobile-menu-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2E2F42;}
    
    .mobile-contact-list {display: flex;}

        /*Our-Direction*/
    .our-direction{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 72px;
    margin-top: 96px;
    margin-bottom: 96px;}

        /*Our-Team*/
    .team-list-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 32px;
    gap: 32px;}

    .list-our-team{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;}

    .team-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;}

.social-list{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 24px;}

/*Customers Клієнти*/

.customers-list{
display: flex;
column-gap: 16px;}

.customers-item{width: calc((100% - 16px) / 2);}

/*Footer*/

.text-footer{
max-width: 268px;
margin-left: auto;
margin-right: auto;
}


.footer-item {text-align: center;}

.footer-icon-title{
text-align: center;
margin-top: 72px;}

/*Footer-Button*/



}


/* Стилі мобілка+планшет */
@media screen and (max-width: 1157px) {
    .container {
     padding-left: 16px;
    padding-right: 16px;}

    .icon-item{display: none;}

    .section-our-works{display: none;}

    .text-main-our-way{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;}

    .text-minor-our-way {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;}

    .text-main-team{
        padding-top: 96px;

    }

        /*Customers Клієнти*/
    .customers{
        padding-top: 96px;
        padding-bottom: 96px;
    }
        /*Customers Клієнти*/
    
        .customers-list {
            display: flex;
            row-gap: 72px;
            flex-wrap: wrap;
            }


/*Footer*/

    .text-footer { margin-bottom: 72px;}

    .footer-item{}

    .footer-container{
    padding-bottom: 96px;
    padding-top: 97.5px;}

    .contact-form-footer-input{
    width: 398px;
    height: 40px;}

}


/* Стилі desktop*/
@media screen and (min-width:1158px) {
    .container{

    }
    .text-hero {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--third-color-text);
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
    margin-bottom: 48px;
    color: var(--third-color-text);}

     /*Our-Team*/
    .section-our-team {
    padding-bottom: 120px;
    padding-top: 120px;}

        .list-our-team {
        display: flex;
        gap: 24px;
        align-items: center;}
}


.page-header{
    padding-top: 24px;
    padding-bottom: 22px;
}

/* Стилі планшет */

@media screen and (min width: 768px) and (max-width: 1157px) {
    .container {

    }

}

/* Стилі планшет+десктоп */

@media screen and (min width: 768px) {
    .container {
 }

 .subscribe-send {
     margin-right: 24px;
 }

 .contact-form-footer-input {
    width: 264px;
    height: 40px;}



}





